@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Ggsans';
    src: url('../public/fonts/gg\ sans\ Regular.ttf');
}

@font-face {
    font-family: 'Ginto';
    src: url('../public/fonts/ABCGintoNormal-Bold-Trial-BF651b7b77d863b.otf');
    font-weight: 800;
}